data/FARIMA/*.pkl
data/FARIMA/*.txt
data/Chestler_2017/timeseries/*.pkl
data/Chestler_2017/LFEdistribution/*.eps
data/Chestler_2017/LFEsAll.mat
data/Ducellier_2022/timeseries/*.pkl
data/Ducellier_2022/LFEdistribution/*.eps
data/Frank_2014/timeseries/*.pkl
data/Frank_2014/LFEdistribution/*.eps
data/Frank_2014/frank_jgr_2014_lfe_catalog.txt
data/Shelly_2017/timeseries/*.pkl
data/Shelly_2017/LFEdistribution/*.eps
data/Shelly_2017/jgrb52060-sup-0002-datas1.txt
data/Sweet_2014/timeseries/*.pkl
data/Sweet_2014/LFEdistribution/*.eps
data/Sweet_2014/catalogs/*.mat
src/absolutevalue_FARIMA/*
src/periodogram_FARIMA/*
src/RS_FARIMA/*
src/variance_FARIMA/*
src/variancemoulines_FARIMA/*
src/varianceresiduals_FARIMA/*
