data/FARIMA/*.pkl
data/FARIMA/*.txt
data/Chestler_2017/timeseries/*.pkl
data/Chestler_2017/LFEdistribution/*.eps
data/Chestler_2017/LFEsAll.mat
data/Ducellier_2022/timeseries/*.pkl
data/Ducellier_2022/LFEdistribution/*.eps
data/Frank_2014/timeseries/*.pkl
data/Frank_2014/LFEdistribution/*.eps
data/Frank_2014/frank_jgr_2014_lfe_catalog.txt
data/Shelly_2017/timeseries/*.pkl
data/Shelly_2017/LFEdistribution/*.eps
data/Shelly_2017/jgrb52060-sup-0002-datas1.txt
data/Sweet_2014/timeseries/*.pkl
data/Sweet_2014/LFEdistribution/*.eps
data/Sweet_2014/catalogs/*.mat
src/absolutevalue_Chestler/*
src/absolutevalue_Ducellier/*
src/absolutevalue_FARIMA/*
src/absolutevalue_Frank/*
src/absolutevalue_Shelly/*
src/absolutevalue_Sweet/*
src/periodogram_Chestler/*
src/periodogram_Ducellier/*
src/periodogram_FARIMA/*
src/periodogram_Frank/*
src_periodogram_Shelly/*
src_periodogram_Sweet/*
src/RS_Chestler/*
src/RS_Ducellier/*
src/RS_FARIMA/*
src/RS_Frank/*
src/RS_Shelly/*
src/RS_Sweet/*
src/variance_Chestler/*
src/variance_Ducellier/*
src/variance_FARIMA/*
src/variance_Frank/*
src/variance_Shelly/*
src/variance_Sweet/*
src/variancemoulines_Chestler/*
src/variancemoulines_Ducellier/*
src/variancemoulines_FARIMA/*
src/variancemoulines_Frank/*
src/variancemoulines_Shelly/*
src/variancemoulines_Sweet/*
src/varianceresiduals_Chestler/*
src/varianceresiduals_Ducellier/*
src/varianceresiduals_FARIMA/*
src/varianceresiduals_Frank/*
src/varianceresiduals_Shelly/*
src/varianceresiduals_Sweet/*
